In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv('Data/Sams-New-Transaction.csv')
df = pd.read_csv('Data/transactions.csv')
df.head()

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
0,2/22/2022,Amazon,AMZN Mktp US WAAmzn.com/bill,7.48,debit,Shopping,Sam's Club&amp;#XX4; World Elite Mastercard&am...,NaN,NaN
1,2/21/2022,RUBEN ALLEN FB CA4029357733,PAYPAL *RUBEN ALLEN FB CA4029357733,13.63,debit,Charity,Sam's Club&amp;#XX4; World Elite Mastercard&am...,NaN,NaN
2,2/21/2022,RACHELAUCHI FB CA4029357733,PAYPAL *RACHELAUCHI FB CA4029357733,20.05,debit,Charity,Sam's Club&amp;#XX4; World Elite Mastercard&am...,NaN,NaN
3,2/21/2022,Amazon,AMZN Mktp US WAAmzn.com/bill,7.38,debit,Shopping,Sam's Club&amp;#XX4; World Elite Mastercard&am...,NaN,NaN
4,2/21/2022,McDonald's,MCDONALD'S M2058 IACEDAR RAPIDS,12.39,debit,Fast Food,Sam's Club&amp;#XX4; World Elite Mastercard&am...,NaN,NaN

In [3]:
df[['month','day','year']] = df['Date'].str.split('/', expand=True)
df

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes,month,day,year
0,2/22/2022,Amazon,AMZN Mktp US WAAmzn.com/bill,7.48,debit,Shopping,Sam's Club&amp;#XX4; World Elite Mastercard&am...,NaN,NaN,2,22,2022
1,2/21/2022,RUBEN ALLEN FB CA4029357733,PAYPAL *RUBEN ALLEN FB CA4029357733,13.63,debit,Charity,Sam's Club&amp;#XX4; World Elite Mastercard&am...,NaN,NaN,2,21,2022
2,2/21/2022,RACHELAUCHI FB CA4029357733,PAYPAL *RACHELAUCHI FB CA4029357733,20.05,debit,Charity,Sam's Club&amp;#XX4; World Elite Mastercard&am...,NaN,NaN,2,21,2022
3,2/21/2022,Amazon,AMZN Mktp US WAAmzn.com/bill,7.38,debit,Shopping,Sam's Club&amp;#XX4; World Elite Mastercard&am...,NaN,NaN,2,21,2022
4,2/21/2022,McDonald's,MCDONALD'S M2058 IACEDAR RAPIDS,12.39,debit,Fast Food,Sam's Club&amp;#XX4; World Elite Mastercard&am...,NaN,NaN,2,21,2022
...,...,...,...,...,...,...,...,...,...,...,...,...
1308,4/09/2021,SHORT-TERM CAP GAIN STRATEGIC ADVISERS INTERNA...,SHORT-TERM CAP GAIN STRATEGIC ADVISERS INTERNA...,431.34,credit,Investments,ROLLOVER IRA,NaN,NaN,4,09,2021
1309,4/09/2021,LONG-TERM CAP GAIN STRATEGIC ADVISERS SMALL-MI...,LONG-TERM CAP GAIN STRATEGIC ADVISERS SMALL-MI...,2113.53,credit,Investments,ROLLOVER IRA,NaN,NaN,4,09,2021
1310,4/09/2021,REINVESTMENT STRATEGIC ADVISERS CORE INCOME FU...,REINVESTMENT STRATEGIC ADVISERS CORE INCOME FU...,2497.25,debit,Investments,ROLLOVER IRA,NaN,NaN,4,09,2021
1311,4/09/2021,REINVESTMENT STRATEGIC ADVISERS SMALL-MID CAP ...,REINVESTMENT STRATEGIC ADVISERS SMALL-MID CAP ...,3632.99,debit,Investments,ROLLOVER IRA,NaN,NaN,4,09,2021
1312,4/09/2021,LONG-TERM CAP GAIN FIDELITY SAI US TREASURY BO...,LONG-TERM CAP GAIN FIDELITY SAI US TREASURY BO...,0.96,credit,Investments,ROLLOVER IRA,NaN,NaN,4,09,2021